<meta http-equiv="refresh" content="3;url=<%= games_path %>">
<h2 class="display-3 m-4 text-white">Your Order Has Been Placed!</h2>
<p class="m-4"> Thank you for your purchase. You will receive an email confirmation shortly.</p>
<p class="m-4 text-white"><%= link_to "Go back to home", games_path, style: "color: white;" %></p>