<div class="container-fluid games-container bg-dark">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card text-light">
        <div class="card-body">
          <h1 class="card-title text-dark">All Games</h1>
          <div class="row row-cols-1 row-cols-md-4 g-4">
            <% @games.each do |game| %>
              <div class="col">
                <div class="card bg-dark text-light">
                  <div class="card-body">
                    <h5 class="card-title"><%= link_to game.title, game_path(game), class: "text-light" %></h5>
                    <p class="card-text">Price: <%= game.price %></p>
                    <p class="card-text">Genre: <%= game.genre %></p>
                    <!-- Add other game details here -->
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
