<% content_for :title, "About Us" %>

<div class="container mt-4 bg-dark">
  <div class="row">
    <div class="col">
      <h1 class="text-light">About Us</h1>
      <p>Welcome to JK Games, We're not kidding!</p>

      <div class="mb-4">
        <h2 class="fw-bold">Who we are:</h2>
        <p class="mb-0">JK Games is a locally owned and operated video game store based out of Winnipeg, Manitoba, Canada. We are an enthusiastic bunch of video game enthusiasts who just can't wait to talk to you about video games!</p>
      </div>

      <div class="mb-4">
        <h2 class="fw-bold">Why shop at JK Games:</h2>
        <ul>
          <li>Locally owned and operated, we strive for customer satisfaction</li>
          <li>Friendly and knowledgeable staff to help you find what you need</li>
        </ul>
      </div>

      <div class="mb-4">
        <h2 class="fw-bold">Our stores:</h2>
        <address>
          <p>956 Princess St<br>Phone: (204) 911-9111</p>
          <p>666 Elgin St<br>Phone: (204) 119-1119</p>
          <p>431 Notre Dame St<br>Phone: (204) 991-9191</p>
        </address>
      </div>

      <div class="mb-4">
        <h2 class="fw-bold">Store hours:</h2>
        <p>Monday - Friday: 1:00am - 11:00pm</p>
        <p>Saturday: 1:00am - 11:00pm</p>
        <p>Sunday: 1:00am - 6:00pm</p>
      </div>
    </div>
  </div>
</div>
